@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  background-color: #fafafa;
  color: #18181b;
  transition: background-color 0.3s ease, color 0.3s ease;
}

html.dark body {
  background-color: #000000;
  color: #f4f4f5;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #f4f4f5;
}
html.dark ::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background: #d4d4d8; 
  border-radius: 4px;
  border: 2px solid #f4f4f5;
}
html.dark ::-webkit-scrollbar-thumb {
  background: #27272a; 
  border: 2px solid #000000;
}

::-webkit-scrollbar-thumb:hover {
  background: #a1a1aa; 
}
html.dark ::-webkit-scrollbar-thumb:hover {
  background: #52525b; 
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(161, 161, 170, 0.5);
  border-radius: 20px;
}
.dark .custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(82, 82, 91, 0.5);
}